<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Cars</h1>

    <form action="/items" method="post">
      <label for="makeModel">Add a new make and model</label>
      <input id="makeModel" name="makeModel" type="text"><br>
      <label for="price">Add a new price</label>
      <input id="price" name="price" type="number" min="1"><br>
      <label for="miles">Add the miles</label>
      <input id="miles" name="miles" type="text" min="0"><br>
      <label for="description">Add a description</label>
      <input id="description" name="description" type="text"><br>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>